<nav class="navbar" *ngIf="isLoggedIn">
  <div class="nav-logo" routerLink="/" style="cursor: pointer;">ERP</div>
  <div class="nav-links">
    <a routerLink="/" routerLinkActive="active">Accueil</a>
    <a *ngIf="isManager" routerLink="/employes" routerLinkActive="active">Employés</a>
    <a *ngIf="isManager || isRH" routerLink="/salaires" routerLinkActive="active">Salaires</a>
    <a *ngIf="isEmployee" routerLink="/mon-salaire" routerLinkActive="active">Mon espace</a>
    <button class="btn-logout" (click)="authService.logout()">Déconnexion</button>
  </div>
</nav>

<router-outlet />